/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset some default styles */
*{
    margin: 0.2rem 5rem 1rem 5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* Body Globals */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project style */
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;

}


/* Header */
header{
    background-color: aqua;
}

h1{
    
}


/* Main */
main{
    background-color: lightgrey;
    flex: 1 0 auto;
}
/* Footer */
footer{
    background-color: rgb(98, 72, 243);
}