/* Reset some default styles */
*{
    margin: 0.2rem 5rem 1rem 5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* Body Globals */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project style */
    color: tomato;

}


/* Header */
header{
    background-color: aqua;
}
/* Main */
main{
    background-color: lightgrey;
    flex: 1 0 auto;
}
/* Footer */
footer{
    background-color: rgb(88, 71, 182);
}