/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Globals */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project style */
    color: #181717;
    font-family: "Montserrat", sans-serif;

}


/* Header */
header{
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}
header a{
    text-decoration: none;
    color: inherit;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #140664;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}
#menu{
    list-style: none;
    font-size: larger;
}
#menu li{
    margin: 1em 0;
}
.active{
    border-bottom: 1px solid #181717;
}

/* Navbar dropdown "Burger menu" toggle */
nav{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 1px 1px rgba(0,0,0,0.2);
    display: none;

}
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    font-size: 2rem;
}

/* Main */
main{
    background-color: lightgrey;
    flex: 1 0 auto;
    margin-top: 8rem;
}
/* Footer */
footer{
    background-color: rgb(98, 72, 243);
}



/* Media Queries for tablets */
@media(min-width: 768px){
    /* header */
    nav{
        position: static;
        box-shadow: none;
        width: fit-content;
        padding: 1em;
        display: block !important;
    }
    #menu{
        display: flex;
        gap: 2rem;
    }
    .nav-toggle-label{
        display: none;
    }
}